.pipe__wrapper {
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pipe__top, .pipe__bottom {
    position: relative;
    overflow: hidden;
}

.pipe__top::before, .pipe__bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/img/stone_wall.png');
    background-position: center;
    background-size: auto 100%; /* maintain aspect ratio without stretching */
    background-repeat: repeat; /* allow the image to repeat if needed */
    z-index: -1;
}

/* Specific styles for mobile devices */
@media (max-width: 600px) {
    .pipe__top::before, .pipe__bottom::before {
        background-size: contain; /* Adjust size for smaller screens */
    }
}
