.game-score__wrapper {
    width: 60%;
    height: 3rem;
    top: 1rem;
    left: 20%;
    position: absolute;
    z-index: 999;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-color: navy;
    border-radius: 10px;

    font-size: 2rem;
    font-weight: 600;
    color: lightgray;
}
