body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.page__wrapper {
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}